.nav-container {
  border-bottom: 2px solid lightgray;
  justify-content: space-between !important;
}

.nav-links {
  display: inline-flex;
}

.navbar-brand {
  margin-left: 20px;
}

.signup-link {
  margin-right: 20px;
}
